.vert_menu{ 
    width: 200px; 
} 
.vert_menu a{ 
    background-color: lightblue; 
    color: blue; 
    display: block; 
    text-decoration: none; 
    font-size: 25px; 
    padding-left: 5px; 
} 
.vert_menu a:hover{ 
    background-color: #FFAA33; 
    color: white; 
} 
.hori_menu a{ 
    background-color: #c7c7c7; 
    display: inline-block; 
    width: 130px; 
    height: 40px; 
    color: blue; 
    text-decoration: none; 
    font-size: 25px; 
    line-height: 40px; 
    text-align: center; 
    margin-left: -4px; 
} 
.hori_menu a:hover{ 
    color: white; 
    background-color: #757474; 
} 